
/*Arquivo de estilização do projeto Petshop*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    background-image: url(../imgs/fundo-topo.jpg);
    padding: 10px 0;
}
header h1{
    margin: 0;
    height: 84px;
}
nav{
    padding: 15px 0;
    text-align: center;
}
nav li{
    display: inline;
    background-image: url(../imgs/patinha-preta.png);
    background-repeat: no-repeat;
    padding-right: 27px;
    margin-right: 10px;
    background-position: right;
}
nav a {
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #6dd432;
}

#itemcontato{
    background-image: none;
    margin-right: 0;
    padding-right: 0;
}
.fundoverde{
    background-color: #bdff9c;
}
.container{
    width: 46.5%;
    margin: 0 auto;
    padding: 56px 0;
}
.flex-container{
    display: flex;
    justify-content: center;
}
.flex-container .col{
    width: 100%;
}
.image{
    max-width: 210%;
}
.texto-centralizado{
    text-align: center;
}
.produto{
    width: 235px;
    margin-right: 5%;
    margin-left: 5%;
}
.produto figure{
    border: 1px solid #c4c4c4;
    background-color: #fff;
    text-align: center;
    width: 100%;
    height: 65%;
    line-height: 160px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.btn-pata{
    border: 1px solid #91e467;
    background-color: #d2fbbd;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px;
}

#produto .flex-container{
    margin-top: 43px;
}
.servico{
    width: 46.5%
}

form{
    width: 380px;
}

form input,
form textarea{
    width: 100%;
    border: 1px solid #6dd432;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}
iframe{
    width: 100%;
}
footer{
    background-image: url(../imgs/fundo-topo.jpg);
}
figure{
    margin:0px 50% 0px 28% ;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 45%;
}
.hov a:hover{
    color: #6dd432;
}
@media screen and (max-width:580px) {
    .flex-container{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .container{
        width: 100%;
        height: 100%;
        padding: 2%;
    }
    .image{
        margin-top: 3%;
        width: 80%;
    }
    .texto-centralizado{
        width: 100%; 
        text-align: center; 
    }
    h2{
        margin: 2% 0 4% 0 ;
    }
    #produto .flex-container{
        margin-top: 5%;
    }
    .produto{
        width: 70%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 4% 0;
    }
    .produto figure {
        width: 80%;
    }
    .image2{
        margin-top: 3%;
        width: 70%;
    }
    #form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2% 0;
    }
    #iframe{
        width: 80%;
    }
}

@media screen and (max-width:350px) {
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    li{
        margin: 2%;
        font-size: large;
    }
}
